<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title class="textBoldNormal">Shopping Cart</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>

    <div>
      <img src="http://1.22.124.222:81/benosysbill/20160825tokyomiyage_1.jpg">
    </div>
    <div style="margin: 10pt">
      <ion-row>

        <ion-col class="rowHeight">
          <ion-label class="textBoldNormal">Product : </ion-label>
        </ion-col>
        <ion-col class="rowHeight" size="8">
          <ion-label class="textBold">Cotton Jersy top</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col class="rowHeight">
          <ion-label class="textBoldNormal">Price : </ion-label>
        </ion-col>
        <ion-col class="rowHeight" size="8">
          <ion-label class="textBoldNormal">1200.00</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col class="rowHeight">
          <ion-label class="textBoldNormal">Quantity : </ion-label>
        </ion-col>
        <ion-col class="rowHeight" size="8">
          <ion-item class="rowHeight">
            <ion-select interface="popover">
              <ion-select-option value="nes">1</ion-select-option>
              <ion-select-option value="n64">2</ion-select-option>
              <ion-select-option value="ps">3</ion-select-option>
              <ion-select-option value="genesis">4</ion-select-option>
              <ion-select-option value="saturn">5</ion-select-option>
              <ion-select-option value="snes">6</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col class="rowHeight">
          <ion-label class="textBoldNormal">Total : </ion-label>
        </ion-col>
        <ion-col class="rowHeight" size="8">
          <ion-label class="textBoldNormal">2400.00</ion-label>
        </ion-col>
      </ion-row>
      <ion-button color="none" expand="full"
        style="text-transform: capitalize;background-color: #ff6666;font-family: Cambria;">Delete
        Product</ion-button>
    </div>

  </ion-card>
  <ion-card>

      <div>
        <img src="http://1.22.124.222:81/benosysbill/20160825tokyomiyage_1.jpg">
      </div>
      <div style="margin: 10pt">
        <ion-row>
  
          <ion-col class="rowHeight">
            <ion-label class="textBoldNormal">Product : </ion-label>
          </ion-col>
          <ion-col class="rowHeight" size="8">
            <ion-label class="textBold">Cotton Jersy top</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
  
          <ion-col class="rowHeight">
            <ion-label class="textBoldNormal">Price : </ion-label>
          </ion-col>
          <ion-col class="rowHeight" size="8">
            <ion-label class="textBoldNormal">1200.00</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
  
          <ion-col class="rowHeight">
            <ion-label class="textBoldNormal">Quantity : </ion-label>
          </ion-col>
          <ion-col class="rowHeight" size="8">
            <ion-item class="rowHeight">
  
              <ion-select interface="popover">
                <ion-select-option value="nes">1</ion-select-option>
                <ion-select-option value="n64">2</ion-select-option>
                <ion-select-option value="ps">3</ion-select-option>
                <ion-select-option value="genesis">4</ion-select-option>
                <ion-select-option value="saturn">5</ion-select-option>
                <ion-select-option value="snes">6</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
  
          <ion-col class="rowHeight">
            <ion-label class="textBoldNormal">Total : </ion-label>
          </ion-col>
          <ion-col class="rowHeight" size="8">
            <ion-label class="textBoldNormal">2400.00</ion-label>
          </ion-col>
        </ion-row>
        <ion-button color="none" expand="full"
          style="text-transform: capitalize;background-color: #ff6666;font-family: Cambria;">Delete
          Product</ion-button>
      </div>
  
    </ion-card>
    <ion-card>

        <div>
          <img src="http://1.22.124.222:81/benosysbill/20160825tokyomiyage_1.jpg">
        </div>
        <div style="margin: 10pt">
          <ion-row>
    
            <ion-col class="rowHeight">
              <ion-label class="textBoldNormal">Product : </ion-label>
            </ion-col>
            <ion-col class="rowHeight" size="8">
              <ion-label class="textBold">Cotton Jersy top</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
    
            <ion-col class="rowHeight">
              <ion-label class="textBoldNormal">Price : </ion-label>
            </ion-col>
            <ion-col class="rowHeight" size="8">
              <ion-label class="textBoldNormal">1200.00</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
    
            <ion-col class="rowHeight">
              <ion-label class="textBoldNormal">Quantity : </ion-label>
            </ion-col>
            <ion-col class="rowHeight" size="8">
              <ion-item class="rowHeight">
    
                <ion-select interface="popover">
                  <ion-select-option value="nes">1</ion-select-option>
                  <ion-select-option value="n64">2</ion-select-option>
                  <ion-select-option value="ps">3</ion-select-option>
                  <ion-select-option value="genesis">4</ion-select-option>
                  <ion-select-option value="saturn">5</ion-select-option>
                  <ion-select-option value="snes">6</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
    
            <ion-col class="rowHeight">
              <ion-label class="textBoldNormal">Total : </ion-label>
            </ion-col>
            <ion-col class="rowHeight" size="8">
              <ion-label class="textBoldNormal">2400.00</ion-label>
            </ion-col>
          </ion-row>
          <ion-button color="none" expand="full"
            style="text-transform: capitalize;background-color: #ff6666;font-family: Cambria;">Delete
            Product</ion-button>
        </div>
    
      </ion-card>
      <ion-card>

          <div>
            <img src="http://1.22.124.222:81/benosysbill/20160825tokyomiyage_1.jpg">
          </div>
          <div style="margin: 10pt">
            <ion-row>
      
              <ion-col class="rowHeight">
                <ion-label class="textBoldNormal">Product : </ion-label>
              </ion-col>
              <ion-col class="rowHeight" size="8">
                <ion-label class="textBold">Cotton Jersy top</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
      
              <ion-col class="rowHeight">
                <ion-label class="textBoldNormal">Price : </ion-label>
              </ion-col>
              <ion-col class="rowHeight" size="8">
                <ion-label class="textBoldNormal">1200.00</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
      
              <ion-col class="rowHeight">
                <ion-label class="textBoldNormal">Quantity : </ion-label>
              </ion-col>
              <ion-col class="rowHeight" size="8">
                <ion-item class="rowHeight">
      
                  <ion-select interface="popover">
                    <ion-select-option value="nes">1</ion-select-option>
                    <ion-select-option value="n64">2</ion-select-option>
                    <ion-select-option value="ps">3</ion-select-option>
                    <ion-select-option value="genesis">4</ion-select-option>
                    <ion-select-option value="saturn">5</ion-select-option>
                    <ion-select-option value="snes">6</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
      
              <ion-col class="rowHeight">
                <ion-label class="textBoldNormal">Total : </ion-label>
              </ion-col>
              <ion-col class="rowHeight" size="8">
                <ion-label class="textBoldNormal">2400.00</ion-label>
              </ion-col>
            </ion-row>
            <ion-button color="none" expand="full"
              style="text-transform: capitalize;background-color: #ff6666;font-family: Cambria;">Delete
              Product</ion-button>
          </div>
      
        </ion-card>



  <div style="margin: 10pt">

    <ion-label style="font-weight: bold;margin-top: 8pt;font-family: Cambria;">
      Cart Totals
    </ion-label>
    <ion-row style="margin-top: 10pt">
      <ion-col class="textBoldNormal">Sub Totals : </ion-col>
      <ion-col class="textBoldNormal">3000.00</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="textBoldNormal">Shipping : </ion-col>
      <ion-col class="textBoldNormal">Flat Rate : Rs.30</ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="font-weight: bold;font-family: Cambria;">Total : </ion-col>
      <ion-col style="font-weight: bold;font-size:20pt;font-family: Cambria;">4000.00</ion-col>
    </ion-row>
    <ion-button color="none" expand="full"
      style="text-transform: capitalize;background-color: #ac00e6;font-family: Cambria;">Proceed to
      Checkout</ion-button>
  </div>

</ion-content>